.button,
%button {
	font-size: 1rem;
	background-color: $white;
	border-radius: 3.125rem;
	padding: 1rem 1rem 1rem 1rem;
	outline: none;
	border: none;
}
.order__btn {
	white-space: nowrap;
	border: none;
	outline: none;
	font-size: 16px;
	color: $white;
	padding: 12px 71px;
	border-radius: 10px;
	background-color: $pumpkin;
	width: 100%;
	&:hover {
		cursor: pointer;
		background-color: $orange;
	}
	&:active,
	&:focus {
		background-color: #f86310;
	}
	&:disabled {
		background-color: $gray-light;
		color: #acacac;
		cursor: none;
		pointer-events: none;
	}
}

// Медиа запросы
@media screen and (max-width: $tablet) {
	.order__btn {
		font-size: 12px;
		padding: 9px 93px;
		border-radius: 9px;
	}
}
@media screen and (max-width: $mobile) {
}
