.header {
	background-image: url(/src/assets/static/img/bg.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
}

.header__items {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 63px;
}
.header__logo {
	margin: 24px 0 24px;
	max-width: 150px;
	height: 29px;
}
.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__content {
	max-width: 437px;

	color: #fff;
}
.header__title {
	margin-bottom: 52px;
}
.header__title span {
	color: $pumpkin;
	white-space: nowrap;
}
.header__text {
	font-weight: 600;
}

@media screen and (max-width: $tablet) {
	.header__items {
		padding-bottom: 44px;
	}

	.title__header {
		margin-bottom: 26px;
	}
}

@media screen and (max-width: $mobile) {
	.header__items {
		padding-bottom: 30px;
	}
	.header__wrapper {
		flex-direction: column-reverse;
		text-align: center;
	}

	.header__title {
		margin-bottom: 16px;
	}

	.header__img {
		width: 227px;
		height: 229px;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
