.nav {
	margin-top: 40px;
}
.container--nav {
	padding-right: 0;
	min-width: 100vw;
}
ul.nav__list {
	list-style-type: none;
}
.nav__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow-x: auto;
	overflow-y: hidden;
	gap: 24px;
}

a.nav__link {
	display: flex;
	align-items: center;
	justify-content: space-between;

	white-space: nowrap;
	background-color: $white;
	border-radius: 3.125rem;
	padding: 0.45em 0.7em;
	border: 1px solid transparent;
	&--active {
		background: $orange;
		pointer-events: none;
	}
	&:focus {
		border: 1px solid $orange;
	}
	&:hover {
		border: 1px solid $orange;
	}
}
.nav__link-img {
	width: 24px;
	height: 24px;
	margin-right: 8px;
	& img {
		height: 100%;
		width: 100%;
	}
}

@media screen and (max-width: $tablet) {
	.nav {
		margin-top: 30px;
		--container-width: 120%;
	}
	.nav__list {
		gap: 12px;
	}
}

@media screen and (max-width: $mobile) {
	.nav__list {
		gap: 8px;
	}
}
