.popup {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	padding-top: 64px;
	padding-bottom: 64px;
	overflow: auto;
	z-index: 666;
	transition: opacity var(--transition-duration) ease;
	pointer-events: none;
	opacity: 0;
	display: flex;

	&.is-active {
		pointer-events: auto;
		opacity: 1;
	}

	&__inner {
		width: 684px;
		height: 432px;
		margin-top: auto;
		margin-bottom: auto;
		@extend %container;
		background-color: #fff;
		border-radius: 24px;
		overflow-y: hidden;
	}
	& h2 {
		padding-top: 24px;
		padding-bottom: 24px;
		padding-left: 24px;
	}
}

.popup__inner-wrapper {
	display: flex;
	align-items: center;
	padding-left: 4px;
	padding-right: 4px;
}
.card__img.card__img--popup {
	width: 276px;
	height: 220px;
	margin-right: 16px;
	font-family: "Nunito";
}
.product__content {
	width: 52%;
}
.product__content-discr {
	margin-bottom: 10px;
}
.product__content-structure p {
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 4px;
}
ul.structure__list {
	font-size: 12px;
	font-weight: 400;
	list-style-type: none;
}

.card__weigth.card__weigth--popup {
	font-size: 12px;
	margin-top: 4px;
}
.add__protuct-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-top: 40px;
	padding-left: 4px;
	padding-right: 4px;
}
.add__protuct {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card__btn.card__btn--popup {
	margin-right: 16px;
	margin-top: 0;
}

.add__protuct-cost {
	font-size: 24px;
	font-weight: 600;
}

@media screen and (max-width: $tablet) {
	.add__protuct-wrapper {
		padding-right: 0px;
		padding-bottom: 32px;
		padding-left: 0;

		flex-direction: column;
		align-items: flex-end;
	}

	.card__btn.card__btn--popup {
		flex-grow: 1;
	}
	.add__protuct {
		margin-top: 20px;
		padding-left: 0px;
		margin-bottom: 16px;
		width: 100%;
	}
	.add__protuct-cost {
		text-align: right;
	}
	.card__img.card__img--popup {
		width: 100%;
		margin-right: 0;
		margin-bottom: 16px;

		& img {
			border-radius: 12px;
		}
	}
}

@media screen and (max-width: $mobile) {
	.popup {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.popup__inner {
		min-height: 704px;
		height: 100%;
		margin-top: 0;
		margin-bottom: 0;
		border-radius: 0;
	}
	.popup__inner h2 {
		padding-top: 32px;
		padding-bottom: 12px;
		font-size: 28px;
		padding-left: 0;
	}

	.popup__inner-wrapper {
		display: flex;
		flex-direction: column;
		padding-right: 0;
		padding-left: 0;
	}

	.popup__inner h2 {
		padding-top: 32px;
		padding-bottom: 12px;
		font-size: 28px;
		padding-left: 0;
	}

	.product__content {
		width: 100%;
		margin-bottom: 49px;
	}
	.add__protuct {
		margin-bottom: 16px;
	}
	.card__btn.card__btn--popup {
		flex-grow: 1;
	}
}
