.quantity {
	display: flex;
	align-items: center;
	background-color: #f2f2f3;
	border-radius: 12px;
	font-size: 16px;
	font-weight: 400;

	&__input {
		border: none;
		background: $gray;
		text-align: center;
	}

	&__button {
		cursor: pointer;
		padding: 9px 12px;

		&--add {
		}

		&--subtract {
		}
	}
}
