<!DOCTYPE html>
<html lang="ru">
	<%- include('/src/assets/ejs/head') %>

	<body>
		<%- include('/src/assets/ejs/header') %>
		<main></main>
		<%- include('/src/assets/ejs/footer') %>
	</body>
</html>
