<footer class="footer">
	<div class="container">
		<div class="footer__wrapper">
			<div class="footer__logo">
				<div class="footer__logo-img">
					<img src="/src/assets/static/img/logo-footer.svg" alt="" />
				</div>
			</div>
			<div class="footer__wrapper-contacts">
				<div class="footer__contacts">
					<div class="contacts__text">Номер для заказа</div>
					<div class="contacts__phone">
						<div class="contacts__phone-icon"></div>
						<div class="contacts__phone-number">
							<a href="tel:+79308333811">+7(930)833-38-11</a>
						</div>
					</div>
				</div>
				<div class="footer__socials">
					<div class="socials__text">Мы в соцсетях</div>
					<div class="socials__icon">
						<div class="socials__icon-vk">
							<a href="#!"
								><img src="/src/assets/static/img/icon/vk.svg" alt=""
							/></a>
						</div>
						<div class="socials__icon-telegram">
							<a href="#!"
								><img src="/src/assets/static/img/icon/telegram.svg" alt=""
							/></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__copyright">
			<div class="copyright__conpany">© YouMeal, 2022</div>
			<div class="copyright__design">Design: Anastasia Ilina</div>
		</div>
	</div>
</footer>
<script src="/src/assets/script/script.js"></script>
