<header class="header">
	<div class="container">
		<div class="header__items">
			<div class="header__logo">
				<img src="./assets/static/img/logo.svg" alt="" />
			</div>
			<div class="header__wrapper">
				<div class="header__img">
					<img src="./assets/static/img/header-burger.png" alt="" />
				</div>
				<div class="header__content">
					<h1 class="header__title">
						Только самые <span>сочные бургеры!</span>
					</h1>
					<div class="header__text">Бесплатная доставка от 599₽</div>
				</div>
			</div>
		</div>
	</div>
</header>
