<header class="header">
	<div class="container">
		<div class="header__items">
			<div class="header__logo">
				<img src="./src/assets/static/img/logo.svg" alt="" />
			</div>
			<div class="header__row">
				<div class="header__row-img">
					<img src="/src/assets/static/img/header-burger.png" alt="" />
				</div>
				<div class="header__row-content">
					<h1 class="row-content-title">
						Только самые <span>сочные бургеры!</span>
					</h1>
					<p class="row-content-text">Бесплатная доставка от 599₽</p>
				</div>
			</div>
		</div>
	</div>
</header>
