<nav class="nav">
	<div class="container">
		<ul class="nav__list">
			<li class="nav__items">
				<button
					class="button button__nav button__nav--burger button__nav-active"
				>
					Бургеры
				</button>
			</li>
			<li class="nav__items">
				<button class="button button__nav button__nav--snack">Закуски</button>
			</li>
			<li class="nav__items">
				<button class="button button__nav button__nav--hotdog">Хот-доги</button>
			</li>
			<li class="nav__items">
				<button class="button button__nav button__nav--combo">Комбо</button>
			</li>
			<li class="nav__items">
				<button class="button button__nav button__nav--shawarma">Шаурма</button>
			</li>
			<li class="nav__items">
				<button class="button button__nav button__nav--pizza">Пицца</button>
			</li>
			<li class="nav__items">
				<button class="button button__nav button__nav--wok">Вок</button>
			</li>
			<li class="nav__items">
				<button class="button button__nav button__nav--dessert">Десерты</button>
			</li>
			<li class="nav__items">
				<button class="button button__nav button__nav--sauce">Соусы</button>
			</li>
		</ul>
	</div>
</nav>
