<nav class="nav">
	<div class="container container--nav">
		<ul class="nav__list">
			<li class="nav__item">
				<a href="#!" class="nav__link nav__link--active">
					<div class="nav__link-img">
						<img src="./assets/static/img/icon/burgers.svg" alt="" />
					</div>
					<p>Бургеры</p>
				</a>
			</li>
			<li class="nav__item">
				<a href="#!" class="nav__link">
					<div class="nav__link-img">
						<img src="./assets/static/img/icon/snacks.svg" alt="" />
					</div>
					<p>Закуски</p>
				</a>
			</li>
			<li class="nav__item">
				<a href="#!" class="nav__link">
					<div class="nav__link-img">
						<img src="./assets/static/img/icon/hotdogs.svg" alt="" />
					</div>
					<p>Хот-доги</p>
				</a>
			</li>
			<li class="nav__item">
				<a href="#!" class="nav__link">
					<div class="nav__link-img">
						<img src="./assets/static/img/icon/combo.svg" alt="" />
					</div>
					<p>Комво</p>
				</a>
			</li>
			<li class="nav__item">
				<a href="#!" class="nav__link">
					<div class="nav__link-img">
						<img src="./assets/static/img/icon/shawarma.svg" alt="" />
					</div>
					<p>Шаурма</p>
				</a>
			</li>
			<li class="nav__item">
				<a href="#!" class="nav__link">
					<div class="nav__link-img">
						<img src="./assets/static/img/icon/pizza.svg" alt="" />
					</div>
					<p>Пицца</p>
				</a>
			</li>
			<li class="nav__item">
				<a href="#!" class="nav__link">
					<div class="nav__link-img">
						<img src="./assets/static/img/icon/wok.svg" alt="" />
					</div>
					<p>Вок</p>
				</a>
			</li>
			<li class="nav__item">
				<a href="#!" class="nav__link">
					<div class="nav__link-img">
						<img src="./assets/static/img/icon/desserts.svg" alt="" />
					</div>
					<p>Десерты</p>
				</a>
			</li>
			<li class="nav__item">
				<a href="#!" class="nav__link">
					<div class="nav__link-img">
						<img src="./assets/static/img/icon/sauce.svg" alt="" />
					</div>
					<p>Соусы</p>
				</a>
			</li>
		</ul>
	</div>
</nav>
